.container {
    position: relative;
    width: 100%;
    max-width: 1201px;
    margin: auto;
    box-sizing: border-box;
}
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 38px;
}

.header__logo {
    font-family: 'Montserrat';
    align-self: start;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    text-decoration: none;
}

.header__nav-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.header__nav-item {
    margin-right: 35px;
    font-size: 16px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    display: block;
    position: relative;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;
    font-family: 'Montserrat';
}

.header__nav-link::after {
content: '';
display: block;
width: 100%;
height: 4px;
margin: 11px 0 0;
background-color: transparent;
transition: 0.2s;
}

.header__nav-link:hover::after {
    background-color: #fce38a;
}

.header__nav-link:hover {
    color: #fce38a;
}

.info {
    min-height: 100vh;
    /* padding: 229px 0 231px; */
    background-image: url(../img/back/back.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.info-wrap {
    width: 100%;
    min-height: 100vh;
    /* height: 100%; */
    padding: 229px 0 231px;
    background-image: linear-gradient(to bottom,rgb(239, 138, 138, 0.9),rgb(241, 214, 138, 0.9));
}

.info-container {
    max-width: 860px;
    margin: 0 auto;
}

.info-container__text {
    text-align: center;
    font-family: 'Kaushan Script';
    font-size: 72px;
    line-height: 1.2;
    margin: 0 auto 42px;
    color: #fff;
}

.info-container__title {
    max-width: 860px;
    margin: 0 auto 125px;
    text-align: center;
    font-size: 150px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.2;
    font-family: 'Montserrat';
}

.info-container__button-wrap {
    text-align: center;
}
.info-container__button {
    display: inline-block;
    padding: 15px 33px;
    border: 2px solid #fff;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
    font-family: 'Montserrat';
}





.sub-title {
    display: block;
margin: 0px;
padding: 0px;
margin-bottom: 24px;
color: #333333;
font-family: 'Kaushan Script';
font-size: 24px;
line-height: 1.2;
text-align: center;
}

.h2 {
margin-bottom:  48px;
padding:  0px;
color: #333333;
font-size: 30px;
font-weight: 700;
line-height: 1.2;
text-align: center;
text-transform: uppercase;
font-family: 'Montserrat';
}

.h2::after {
    content: '';
    display: block;
    width: 61px;
    height: 4px;
    margin: 41px auto 0;
    background-color: #f38181;
}

.text {
color: #999999;
font-family: 'Roboto';
font-size: 15px;
line-height: 1.2;
text-align: center;
margin: 0px 150px;
margin-bottom: 95px;

}


.menu__item {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin: 0px;
padding: 0px;
align-items: center;
list-style: none; 
margin-bottom: 95px;
}



.menu {
    width: 383px;
    display: flex;
    margin-bottom: 100px;
}

.menu__item :nth-child(n+4) {
    margin-bottom: 0px;
}


.article {
position: relative;
width: 383px;
padding-left: 70px;
}

.img__1 ::before {
position: absolute;
background-image: url(../img/img/img1.png);
background-repeat: no-repeat;
left: 21px;
top: 0px;
display: inline-block;
content: '';
width: 32px;
height: 32px;
} 

.img__2 ::before {
position: absolute;
background-image: url(../img/img/img2.png);
background-repeat: no-repeat;
left: 21px;
top: 0px;
display: inline-block;
content: '';
width: 32px;
height: 32px;
} 

.img__3 ::before {
position: absolute;
background-image: url(../img/img/img3.png);
background-repeat: no-repeat;
left: 21px;
top: 0px;
display: inline-block;
content: '';
width: 32px;
height: 32px;
} 

.img__4 ::before {
position: absolute;
background-image: url(../img/img/img4.png);
background-repeat: no-repeat;
left: 21px;
top: 0px;
display: inline-block;
content: '';
width: 32px;
height: 32px;
} 

.img__5 ::before {
position: absolute;
background-image: url(../img/img/img5.png);
background-repeat: no-repeat;
left: 21px;
top: 0px;
display: inline-block;
content: '';
width: 32px;
height: 32px;
} 

.img__6 ::before {
position: absolute;
background-image: url(../img/img/img6.png);
background-repeat: no-repeat;
left: 21px;
top: 0px;
display: inline-block;
content: '';
width: 32px;
height: 32px;
} 



.heading {
    margin: 0px;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 12px;
    font-family: 'Montserrat';
}

.img {
    height: 32px;
    padding-left: 21px;
}



.p {
     margin: 0px;
     margin-right: 35px;
}

.inf {
    margin: 0px;
    font-family: 'Roboto';
}




.spans {
    margin: 0px;
    margin-bottom: 65px;
    text-align: center;
}

.our-team {
    margin: 0;
    padding: 0px;
    margin-bottom: 85px;
}

.our-team__members-list {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    padding:  0px;
    margin: 0px;
}

.our-team__member {
    list-style: none;
    margin-right: 30px;
}

.our-team__members-list :last-child {
    margin-right: 0px;
}

.card {
    position: relative;
    width: 380px;
    box-shadow: 0 0 #95e1d3;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 471px;    
    background-image: linear-gradient( to bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}


.icons {
margin-right: 1px;

}

.overlay-icon {
    display: inline-block;
    width: 57px;
    height: 57px;
    background-color: #fce38a;
    margin-right: 1px;
}

.overlay :last-child {
    margin-right: 0px;
}

.overlay-icon:hover {
    background-color: #f38181;
}


.icon-1 {
    background-image: url('../img/icons/icons1.png');
    background-repeat: no-repeat;
    background-position: center;
}

.icon-2 {
    background-image: url('../img/icons/icons2.png');
    background-repeat: no-repeat;
    background-position: center;

}

.icon-3 {
    background-image: url('../img/icons/icons3.png');
    background-repeat: no-repeat;
    background-position: center;

}

.icon-4 {
    background-image: url('../img/icons/icons4.png');
    background-repeat: no-repeat;
    background-position: center;

}

.card :hover  {
    opacity: 1 ;
    transition: 0.35s 0.2s;
}

.card:hover .overlay {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px #95e1d3;  
}


.card-name {
    padding: 0px;
    margin-top: 31px;
    text-align: center;
    font-size: 17px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin-bottom: 15px;
}


.card-pos {
    padding:  0px;
    margin: 0px;
    font-style: italic;
    font-size: 17px;
    font-family: 'Roboto';
    text-align: center;
    color: #999999;
}
















.footer__nav {
border-top: 2px solid #e5e5e5;

}

.footer__iner {
display: flex;
justify-content: space-between;

}

.footer__navs:hover {
color: #f6a1a1;
}

.inp {
margin: 10px 0px;
}

.footer_text {
    font-family: 'Montserrat'; 
font-size: 13px; 
margin: 0px;
margin-top: 25px;
}

.imp__text {
height: 33px;
width: 229px;
padding-left: 10px;
border:2px solid #e5e5e5 ;
font-size: 15px;
color: #e5e5e5;
font-family: 'Roboto';
font-style: italic;
}

.imp__sub {
    height: 39px;
    width: 150px;
    background-color: #95e1d3;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;

}

