* {
    margin: 0;
    padding: 0;
}
.container{
    width: 900px;
    margin: 0 auto;
    font-family: 'Playfair Display' 500;
    font-weight: 500;
}
.header {
    padding-top: 71px;
    padding-bottom: 71px;
}
.header__nav-list {
display: block ;
list-style: none;
text-align: center;
font-size: 0;
}
.header__nav-item {
    display: inline-block;
    font-size: 11px;
}
.header__nav-link {
display: block;
color: #626266;
padding: 22px 60px;
font-size: 13px;
text-transform: uppercase;
text-decoration: none;
}
.header__nav-link_active,
.header__nav-link:hover {
    color: #03a9f4;
}
.blogposts {
    display: inline-block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font-size: 0;
    text-align: center;
}
.blogpost {
    display: inline-block;
    width: 100%;
    max-width: 450px;
    margin-bottom: 74px;
    padding: 30px;
    box-sizing: border-box;
    color: #626262;
    font-size: 15px;
    text-align: left;
}
.blogpost:nth-last-of-type(1),
.blogpost:nth-last-of-type(2) {
    margin-bottom: 13px;
}
.blogpost__cover {
    width: 100%;
    margin-bottom: 30px;
    background-image: url('../img/beach.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.blogpost__label {
    margin-bottom: 37px;
    color: #c7c1b6;
    font-size: 13px;
    line-height: 1;
    text-transform: uppercase;
}
.blogpost__title {
    margin-bottom: 30px;
    font-size: 27px;
    line-height: 1;
}
.blogpost__desc {
    font-size: 16px;
    line-height: 1.6;
}
.btn-wrap {
    text-align: center;
    padding: 36px 0 70px;
}
.btn {
    display: inline-block;
    padding: 20px 30px;
    border: 1px solid black;
    color: #626262;
    font-size: 15px;
    font-family: serif;
}